<!-- /app/Resources/views/base.html.twig -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    {% block stylesheets %}
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
              integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/my-style.css') }}"/>
    {% endblock %}

    <title>{% block title %}Something Clever Here!{% endblock %}</title>

    <!-- Latest compiled and minified JavaScript -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
{% block header %}
    <div id="header">

        <div class="color-line">
        </div>


        <div id="logo" class="light-version">
            <span>
                Administration
            </span>
        </div>


        <nav role="navigation">

            <div class="header-link hide-menu"><i class="fa fa-bars"></i></div>


            <div class="small-logo">
                <span class="text-primary">Administration</span>
            </div>


            <div id="navbar" class="navbar-collapse collapse">
                {{ knp_menu_render('AppBundle:MenuBuilder:buildMainMenu', {'currentClass': 'active', 'template': ':Menu:knp_menu.html.twig'}) }}
                {{ knp_menu_render('AppBundle:MenuBuilder:buildUserMenu', {'currentClass': 'active', 'template': ':Menu:knp_menu.html.twig'}) }}
            </div>

        </nav>

    </div>
{% endblock %}
{% block topnav %}
    <nav class="navbar navbar-fixed-top">
        <!-- put your nav bar here -->
        {% include '::topnav.html.twig' %}
    </nav>

{% endblock %}

<div class="container">
    {% block body %}{% endblock %}
</div>





{% block javascripts %}

        <script src="//code.jquery.com/jquery-2.1.1.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="{{ asset('js/modal.js') }}"></script>

{% endblock %}
</body>
</html>